<p id="notice"><%= notice %></p>

<p>
  <strong>Accessok:</strong>
  <%= @accessplatform.accessok %>
</p>

<p>
  <strong>Accesserror:</strong>
  <%= @accessplatform.accesserror %>
</p>

<p>
  <strong>Pdate:</strong>
  <%= @accessplatform.pdate %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @accessplatform.reason %>
</p>

<%= link_to 'Back', accessplatforms_path %>
